# Extract, Transform and Load Spotify Data Set
<hr>

### Dependencies

In [58]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import requests
import pymongo
import numpy as np

### Extract Data Set

In [59]:
path = "Resources/Variables19082.csv"
data = pd.read_csv(path)

In [60]:
data.head(5)

,User,Emp_type,Gate,Gender,Department,Country,Function,Job_ control_point,Scale,Promotions,Intern_Asig,Age,Seniority,Dependents,Job Code,Comparatio,Status
0,H238709,Regular employee,2,Male,G,India,Operations,F2-ESG,15,1,No,54,1,4,PF10,1.155543,Active
1,HBAO258,Regular employee,2,Male,C,Thailand,Operations,H2-ESG,21,2,No,47,26,1,PC11,1.212336,Active
2,HBAR605,CommuterOut-Halco,2,Male,C,Brunei,Operations,F2-ESG,15,3,Yes,47,24,0,PC10,0.702072,Active
3,HBAO792,Regular employee,1,Male,G,Brunei,Operations,C1-ESG,4,1,Yes,47,27,0,PS03,1.366488,Active
4,HBAO783,Regular employee,2,Male,D,Brunei,Operations,E2-ESG,11,1,Yes,48,25,4,CC06,1.276654,Active

### Transform

In [61]:
print("We have a total of " + str(len(data)) + " rows in the data set")

We have a total of 1235 rows in the data set

In [62]:
data.dtypes

User                   object
Emp_type               object
Gate                    int64
Gender                 object
Department             object
Country                object
Function               object
Job_ control_point     object
Scale                   int64
Promotions              int64
Intern_Asig            object
Age                     int64
Seniority               int64
Dependents              int64
Job Code               object
Comparatio            float64
Status                 object
dtype: object

### Change date type from obj to date

In [9]:
#spotify_data["Date"] = pd.to_datetime(spotify_data["Date"], format="%m/%d/%Y")

In [10]:
#spotify_data.dtypes

### Verify NAs and kill them all

In [63]:
data["User"].isna().value_counts()

False    1235
Name: User, dtype: int64

In [64]:
data_wNA = data.dropna()
data_wNA["User"].isna().value_counts()

False    1235
Name: User, dtype: int64

### Create Mongodb connection

In [69]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collection
db = client.HHRRdb
collection = db.employees

### Load data into MongoDB Collection

In [66]:
collection.drop()

rows=len(data_wNA)
hhrr_dict={}
x=0
for row in range(0,2000):

    hhrr_dict = {'User':(data_wNA.iloc[row,0]),
                'Emp_type':(data_wNA.iloc[row,1]),
                'Gate':int(data_wNA.iloc[row,2]),
                 'Gender':data_wNA.iloc[row,3],
                 'Department':data_wNA.iloc[row,4],
                 'Country':data_wNA.iloc[row,5],
                 'Job_ control_point':data_wNA.iloc[row,6],
                 'Scale':data_wNA.iloc[row,7],
                 'Promotions':data_wNA.iloc[row,8],
                 'Intern_Asig':data_wNA.iloc[row,9],
                 'Age':data_wNA.iloc[row,10],
                 'Seniority':data_wNA.iloc[row,11],
                 'Job Code':data_wNA.iloc[row,12],
                 'Comparatio':data_wNA.iloc[row,13],
                 }
   
    x += 1
    collection.insert_one(hhrr_dict)

InvalidDocument: cannot encode object: 15, of type: <class 'numpy.int64'>